@model ToDoAppV5.Models.Realizador

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Realizador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeRealizador" class="control-label"></label>
                <input asp-for="NomeRealizador" class="form-control" />
                <span asp-validation-for="NomeRealizador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
